part=xc7s100fgga676-2

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
clock=10ns
syn.file=./src/fpga_systolic_array.cpp
syn.file=./src/fpga_systolic_array.h
syn.top=systolic_mm_1d
# (Removed the redundant tb.file=./tb to prevent double-compilation errors)
tb.file=./tb/test_bench.cpp
csim.sanitize_undefined=0
csim.sanitize_address=0
csim.clean=0
tb.file_cflags=./tb/test_bench.cpp,-lopenblas

syn.compile.unsafe_math_optimizations=1
